@media (max-width: 1050px){
  .visibl-lg{
    display: none;
  }
  .hamburger-menu{
    display: flex;
  }
  .container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .email{
    width: 200px;
  }

.download .container{
  flex-wrap: inherit;
}

footer .container{
  justify-content: left;
  margin: 0 50px 0;
}

footer .footer-list{
  margin: 0px;
}

.blog .container{
  justify-content: left;
  margin: 0 50px 0;
}

.arrow-prev{
  left: 15px;
}

.arrow-next{
  right: 15px;
}




}

@media (min-width: 1050px){
  .hamburger-menu{
    display: none;
  }
  
}